<main class="auth-main d-flex flex-column align-items-center justify-content-center">
  <div class="already-div">
    <small>Don't have an account?</small>
    <a href="/Signup" class="btn btn-sm ms-2">Signup</a>
  </div>
  <div class="form-wrapper-div px-3 py-5">
    <h4 class="mb-4">Login</h4>
    <form>
      <div class="mb-4">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email Address" autocomplete="off">
      </div>
      <div class="mb-4">
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn w-100 auth-form-button">Login</button>
    </form>
  </div>
</main>