<section
  class="profile-picture-form-section position-fixed top-0 bottom-0 start-0 end-0 d-none justify-content-center align-items-center">

  <div class="profile-pic-form-wrapper-div w-50 position-relative">
    <span class="position-absolute bottom-100 end-0 fs-3"><i class="fa-solid fa-circle-xmark"></i></span>
    <form action="/userprofilepicture" method="POST" class="w-100 mb-5" enctype="multipart/form-data">
      <div class="mb-3 text-white">
        <label for="formFileSm" class="form-label text-white">Add an image</label>
        <input class="" name="userimage" id="formFileSm" type="file">
      </div>
      <button type="submit" class="btn btn-secondary w-100">Add Profile Picture</button>
    </form>
  </div>
</section>