<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Posts</h1>
  <form action="/posts" method="POST">
    <textarea name="postbody" id="" cols="30" rows="4" placeholder="What is on your mind?"></textarea>
    <button type="submit">Post</button>
  </form>
  <% posts.forEach( post => { %>
    <p><%= post.postbody %></p>
    <hr>
  <% }) %>
</body>
</html>