@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');;
*,
*::after,
*::before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  padding: 0;
  margin: 0;
}

body {
  font-family: 'Libre Bodoni', serif;
  background-color: #F8F9FA;
}

nav.navbar,
.toast {
  z-index: 1;
}

nav.navbar {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

textarea {
  border: none;
  outline: none;
  resize: none;
  border-bottom: 1px solid lightgray;
  padding: 10px 0 0 10px;
  background-color: #F8F9FA;
}

textarea:focus,
.edit-textarea {
  box-shadow: 0px -8px 10px rgba(0, 0, 0, 0.1) inset;
}

div.card {
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
  0 2px 4px rgba(0,0,0,0.07), 
  0 4px 8px rgba(0,0,0,0.07), 
  0 8px 16px rgba(0,0,0,0.07),
  0 16px 32px rgba(0,0,0,0.07), 
  0 32px 64px rgba(0,0,0,0.07);
  font-family: 'Libre Bodoni', serif;
  font-style: italic;
  font-size: 13px;
}

button.icon-button {
  border: none;
  background-color: transparent;
  color: #999;
  transition: all 0.2s ease-in-out;
}

button.icon-button:hover {
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #333;
}

/*Authentication forms styling*/

.auth-main {
  background-color: #F8F9FA;
  min-height: 100vh;
  max-height: 100vh;
  position: relative;
}

.form-wrapper-div {
  width: 100%;
  min-width: 320px;
  max-width: 450px;
  border: 1px solid lightgray;
  background-color: white;
}

.form-wrapper-div > h4 {
  color: #555;
}

.email-lower-div {
  font-size: 12px;
  color: #999;
}

.auth-form-button,
.already-div > a {
  background-color: #0877C5;
  color: white;
}

.already-div {
  position: absolute;
  top: 1em;
  right: 1em;
}

.user-posts-section {
  max-height: 85vh;
  min-height: 85vh;
  overflow: hidden;
}

.user-profile-aside {
  min-width: 30%;
  max-width: 30%;
}

.profile-img-div {
  border: 1px solid silver;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background-image: url('/uploads/1651762123133_puppy2.jpg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.following-div,
.general-info-div {
  font-size: .9em;
}

.aside-icon-div {
  min-width: 2em;
  max-width: 2em;
}

.posts-section-div {
  border-left: 1px solid #eee;
  flex: 1;
}

.update-user-form-wrapper {
  max-height: 85vh;
  overflow: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset;
}